# dependencies
/node_modules
/vendor

# environment variables
.env
.env.*
!.env.example
!.env.*.example

# Next.js specific
/.next/
/out/
/build
next-env.d.ts

# Vercel
.vercel

# testing
/coverage

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
/dist

# cache
.cache/
.temp/
.tmp/

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 